$media: (
	xxs: 240px,
	xs: 360px,
	sm: 480px,
	md: 768px,
	lg: 1024px,
	xl: 1440px,
	xxl: 1920px,
);

@mixin media($breakpoint) {
	@each $breakpoints, $size in $media {
		@if $breakpoint==$breakpoints {
			@media screen and (min-width: $size) {
				@content;
			}
		}
	}
}

//& https://open-props.style/#media-queries

// --portrait
// --landscape

//& The Props
// --{xxs,xs,sm,md,lg,xl,xxl}-only
// --{xxs,xs,sm,md,lg,xl,xxl}-n-above
// --{xxs,xs,sm,md,lg,xl,xxl}-n-below
// --{xxs,xs,sm,md,lg}-phone

//& Viewport Vars Sample
// @custom-media --portrait      (orientation: portrait);
// @custom-media --landscape     (orientation: landscape);

// @custom-media --md-only       (480px <= width <= 768px);
// @custom-media --md-n-above    (width >= 768px);
// @custom-media --md-n-below    (width <= 768px);
// @custom-media --md-phone      (--md-only) and (--portrait);

// @custom-media --xxl-only      (1440px <= width <= 1920px);
// @custom-media --xxl-n-above   (width >= 1920px);
// @custom-media --xxl-n-below   (width <= 1920px);

//& Capability Vars
// @custom-media --touch    (hover: none) and (pointer: coarse);
// @custom-media --stylus   (hover: none) and (pointer: fine);
// @custom-media --pointer  (hover) and (pointer: coarse);
// @custom-media --mouse    (hover) and (pointer: fine);

// @custom-media --HDcolor  (dynamic-range: high);

//& Preference Vars
// @custom-media --OSdark        (prefers-color-scheme: dark);
// @custom-media --OSlight       (prefers-color-scheme: light);

// @custom-media --motionOK      (prefers-reduced-motion: no-preference);
// @custom-media --motionNotOK   (prefers-reduced-motion: reduce);

//& Preference Vars Extended
// @custom-media --highContrast  (prefers-contrast: high);
// @custom-media --lowContrast   (prefers-contrast: low);

// @custom-media --opacityOK     (prefers-reduced-transparency: no-preference);
// @custom-media --opacityNotOK  (prefers-reduced-transparency: reduce);

// @custom-media --useDataOK     (prefers-reduced-data: no-preference);
// @custom-media --useDataNotOK  (prefers-reduced-data: reduce);
