@use "../abstracts/" as *;
@use "sass:string";

//? Prevent Hsl to transform in Hex.
@function hsl($h, $s, $l) {
	@return unquote("hsl(#{$h}, #{$s}, #{$l})");
}

$colors: (
	surface: (
		0: hsl(210, 11%, 2%),
		1: hsl(210, 11%, 7%),
		2: hsl(210, 11%, 15%),
		3: hsl(210, 11%, 23%),
	),
	text: (
		0: hsl(0, 0%, 95%),
		1: hsl(0, 0%, 85%),
		2: hsl(0, 0%, 70%),
	),
	brand: (
		0: hsl(0, 100%, 71%),
	),
);

:root {
	@each $color, $shades in $colors {
		@each $shade, $clr in $shades {
			$break-hsl: string.slice(
				$string: $clr,
				$start-at: 5,
				$end-at: -2,
			);

			// @debug $clr, $break-hsl;
			--clr-#{$color}-#{$shade}: #{$clr};
			--clra-#{$color}-#{$shade}: #{$break-hsl};
		}
	}
}
