@use "/Abstracts" as *;

@function hsl($h, $s, $l) {
	@if $env == "color" {
		@return unquote("hsl(#{$h} #{$s} #{$l})");
	} //
	@else {
		@return unquote("#{$h} #{$s} #{$l}");
	}
}

$colors: (
	surface: (
		100: hsl(210, 18%, 7%),
		200: hsl(210, 18%, 12%),
		300: hsl(210, 18%, 18%),
		400: hsl(210, 18%, 22%),
		500: hsl(210, 18%, 50%),
		600: hsl(210, 18%, 80%),
		700: hsl(210, 18%, 85%),
		800: hsl(210, 18%, 90%),
		900: hsl(210, 18%, 95%),
	),
	brand: (
		100: hsl(0, 100%, 10%),
		200: hsl(0, 100%, 20%),
		300: hsl(0, 100%, 30%),
		400: hsl(0, 100%, 40%),
		500: hsl(0, 100%, 50%),
		600: hsl(0, 100%, 60%),
		700: hsl(0, 100%, 70%),
		800: hsl(0, 100%, 80%),
		900: hsl(0, 100%, 90%),
	),
);

@mixin create-custom-prop($list) {
	@each $type, $value in $list {
		@each $shade, $color in $value {
			#{$color-var}-#{$type}-#{$shade}: #{$color};
		}
	}
}

:root {
	@include create-custom-prop($colors);
}
