@use "../Abstracts/" as *;

@function hsl($h, $s, $l) {
	@return unquote("#{$h} #{$s} #{$l}");
}

$colors: (
	surface: (
		100: hsl(210, 11%, 3%),
		200: hsl(210, 11%, 17%),
		300: hsl(210, 11%, 27%),
		400: hsl(210, 11%, 35%),
		500: hsl(210, 11%, 50%),
		600: hsl(210, 11%, 70%),
		700: hsl(210, 11%, 85%),
		800: hsl(210, 11%, 93%),
		900: hsl(210, 11%, 97%),
	),
	brand: (
		200: hsl(0, 100%, 71%),
	),
);

@mixin create-custom-prop($list) {
	@each $type, $value in $colors {
		@each $shade, $color in $value {
			#{$color-var}-#{$type}-#{$shade}: #{$color};
		}
	}
}

:root {
	@include create-custom-prop($colors);
}
