:root {
	//? @link https://utopia.fyi/type/calculator?c=320,21,1.067,1140,24,1.5,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
	//& Font size flued
	--fsf-00: clamp(0.67rem, 1.34rem - 0.95vw, 1.15rem);
	--fsf-10: clamp(1rem, 1.32rem - 0.45vw, 1.23rem);
	--fsf-20: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
	--fsf-30: clamp(1.4rem, 1.07rem + 1.66vw, 2.25rem);
	--fsf-40: clamp(1.49rem, 0.76rem + 3.67vw, 3.38rem);
	--fsf-50: clamp(1.59rem, 0.24rem + 6.77vw, 5.06rem);
	--fsf-60: clamp(1.7rem, 11.5vw - 0.6rem, 7.59rem);
	--fsf-70: clamp(1.82rem, 18.68vw - 1.92rem, 11.39rem);

	//? @link https://utopia.fyi/space/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l
	//& Space flued

	--sf-00: clamp(0.31rem, 0.29rem + 0.12vw 0.38rem);
	--sf-10: clamp(0.69rem, 0.66rem + 0.12vw 0.75rem);
	--sf-20: clamp(1rem, 0.95rem + 0.24vw 1.13rem);
	--sf-30: clamp(1.31rem, 1.24rem + 0.37vw 1.5rem);
	--sf-40: clamp(2rem, 1.9rem + 0.49vw 2.25rem);
	--sf-50: clamp(2.63rem, 2.48rem + 0.73vw 3rem);
	--sf-60: clamp(3.94rem, 3.72rem + 1.1vw 4.5rem);
	--sf-70: clamp(5.25rem, 4.96rem + 1.46vw 6rem);
	--sf-80: clamp(7.88rem, 7.44rem + 2.2vw 9rem);

	//? One-up pairs
	--sp-00-10: clamp(0.31rem, 0.14rem + 0.85vw 0.75rem);
	--sp-10-20: clamp(0.69rem, 0.52rem + 0.85vw 1.13rem);
	--sp-20-30: clamp(1rem, 0.8rem + 0.98vw 1.5rem);
	--sp-30-40: clamp(1.31rem, 0.95rem + 1.83vw 2.25rem);
	--sp-40-50: clamp(2rem, 1.61rem + 1.95vw 3rem);
	--sp-50-60: clamp(2.63rem, 1.89rem + 3.66vw 4.5rem);
	--sp-60-70: clamp(3.94rem, 3.13rem + 4.02vw 6rem);
	--sp-70-80: clamp(5.25rem, 3.79rem + 7.32vw 9rem);
}
