//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-text-0);
	background-color: var(--clr-surface-0);

	font-family: "Fredoka", spotify-circular, spotify-circular-cyrillic,
		spotify-circular-arabic, spotify-circular-hebrew, "Helvetica Neue",
		helvetica, arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic",
		sans-serif;
}

.root {
}
