//? Here is I use to make the base elements of the page;

@use "../abstracts/" as *;

body {
	color: var(--clr-text-0);
	background: var(--clr-surface-0);
}

//! Main div with all the things
#root {
	//? Now #root is the new base
	position: absolute;
	inset: 0;

	font-family: "Fredoka", spotify-circular, spotify-circular-cyrillic, spotify-circular-arabic, spotify-circular-hebrew,
		"Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic", sans-serif;
}

.header {
	height: 100vh;
	background-color: aliceblue;
	width: fit-content;
	padding: 1rem 1.25rem;
}

.logo {
	$s: 2rem;
	width: $s;
	height: $s;
	background-color: grey;
	border-radius: 50%;
}

ul {
	display: flex;
	flex-direction: column;

	gap: 1rem;

	margin-block: 3rem;
}
li {
	position: relative;
	display: flex;
	align-items: center;
	// gap: 1rem;
	z-index: 1;

	&.selected {
		&::before {
			content: "";
			position: absolute;
			inset: -6px -10px;

			border-radius: 8px;
			background-color: blue;
			z-index: -1;
		}
	}
}

.icon {
	padding: 1rem;
	background-color: black;
	border-radius: 50%;
}
.text {
	color: black;
}

.numeric {
	padding: 0.5rem;
	background-color: black;
	border-radius: 8px;
	font-weight: 600;
	margin-left: 3rem;
}

.thing {
	display: flex;
	align-items: center;
	margin-left: 0;
	width: 0;
	opacity: 0;
	transform: scaleX(0);

	transform-origin: left;
	transition: all 200ms ease;
}

.header {
	overflow: hidden;
	transition: all 200ms ease;
	width: 4.5rem;

	&:hover {
		width: 16.5rem;
		.thing {
			margin-left: 1rem;
			transform: scaleX(1);
			width: max-content;
			opacity: 1;
		}
	}
}
